@import "../../../assets/mixins/mixins.scss";

.reset_pass_wrapper {
    @include size(100vw, 100vh);
    position: relative;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    .reset_pass_wrapper_main {
        @include size(50%, 100%);
        @include flexCenter();
        background-color: #fff;
        position: absolute;
        top: 0;
        right: -50%;
        animation: right_to_left 200ms;
        animation-fill-mode: forwards;
        .reset_pass_content_wrapper {
            @include flColCenter();
            .reset_pass_header {
                @include font(28px, normal, "Inter-400", #292929);
                font-weight: 400;
                margin-bottom: 22px;
            }
            .reset_pass_text {
                @include font(16px, normal, "Inter-400", #808080);
                font-weight: 400;
                width: 305px;
                margin-bottom: 40px;
            }
            .reset_pass_inp_place {
                @include flColCenterStart();
                gap: 20px;
                .reset_pass_inp_div {
                    @include flexCenter();
                    @include font(12px, normal, "Inter-400", #808080);
                    font-weight: 400;
                    position: relative;
                    &:nth-of-type(3) input {
                        margin-top: 1px;
                    }
                }
                .check_new_password_valid {
                    @include flColStart();
                    align-self: flex-start;
                    gap: 10px;
                    .correct_password_info_place {
                        width: 100%;
                        height: 20px;
                        gap: 12px;
                        &:nth-child(3) {
                            margin-top: 14px;
                            margin-bottom: 8px;
                        }
                        @include flexCenterStart();
                        & > svg {
                            width: 18px;
                            height: 18px;
                        }
                        .done_icon {
                            color: #0f9918;
                        }
                        .reject_icon {
                            background-color: #808080;
                            color: #fff;
                            border-radius: 4px;
                        }
                        .correct_password_info {
                            @include font(12px, normal, "Inter-400", #292929);
                        }
                    }
                }
            }
            .reset_pass_confirm_btn {
                @include size(350px, 45px);
                @include flexCenter();
                @include font(16px, normal, "Inter-400", #fff);
                border-radius: 10px;
                background: var(--m-c);
                border: none;
                cursor: pointer;
                margin-top: 40px;
                margin-bottom: 29px;
                &:disabled {
                    background: #808080;
                }
            }
            .reset_pass_back_signIn_btn {
                @include flexCenterStart();
                @include font(14px, normal, "Inter-400", #808080);
                gap: 5px;
                font-weight: 400;
                cursor: pointer;
                & > svg {
                    width: 10px;
                    height: 10px;
                    margin-top: 3px;
                }
            }
        }
    }
    .reset_pass_is_closing {
        animation: left_to_right 200ms;
    }
}

@keyframes right_to_left {
    0% {
        right: -50%;
    }
    100% {
        right: 0;
    }
}
@keyframes left_to_right {
    0% {
        right: 0;
    }
    100% {
        right: -50%;
    }
}
