@import "../../../assets/mixins/mixins.scss";

.password_page_wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    .password_page_main {
        @include flexCenter();
        width: 50%;
        height: 100%;
        background: #ffffff;
        position: absolute;
        right: -50%;
        animation: right_to_left 200ms;
        animation-fill-mode: forwards;
        .password_page {
            @include flColStart();
            width: 351px;
            gap: 30px;
            .back_btn {
                @include flexCenter();
                width: 60px;
                gap: 8px;
                border: none;
                background: none;
                cursor: pointer;
                & > svg {
                    width: 18px;
                    height: 18px;
                    color: #292929;
                }
                & > span {
                    @include font(14px, normal, "Inter-400", #292929);
                }
            }
            .password_page_form {
                @include flColStart();
                width: 100%;
                .password_page_header {
                    @include font(28px, normal, "Inter-400", #292929);
                    font-weight: 400 !important;
                }
                .password_page_input_place {
                    @include flColStart();
                    width: 100%;
                    margin-top: 32px;
                    & > label {
                        @include font(14px, normal, "Inter-400", #292929);
                        margin-bottom: 12px;
                    }
                    &:nth-of-type(1) input {
                        margin-top: 1px;
                    }
                    .correct_password_info_place {
                        @include flexCenterStart();
                        width: 100%;
                        height: 20px;
                        gap: 12px;
                        &:nth-child(3) {
                            margin-top: 14px;
                            margin-bottom: 8px;
                        }
                        & > svg {
                            width: 18px;
                            height: 18px;
                        }
                        .done_icon {
                            color: #0f9918;
                        }
                        .reject_icon {
                            background-color: #808080;
                            color: #fff;
                            border-radius: 4px;
                        }
                        .correct_password_info {
                            @include font(12px, normal, "Inter-400", #292929);
                        }
                    }
                }
                .create_an_account_btn {
                    @include font(16px, normal, "Inter-400", #fff);
                    @include size(350px, 45px);
                    border-radius: 10px;
                    background: var(--m-c);
                    border: none;
                    margin-top: 40px;
                    cursor: pointer;
                    &:disabled {
                        background: #808080;
                    }
                }
                .already_have_an_account {
                    @include flexCenter();
                    width: 100%;
                    margin-top: 20px;
                    gap: 16px;
                    & > span {
                        @include font(14px, normal, "Inter-400", #808080);
                    }
                    & > a {
                        @include font(14px, normal, "Inter-500", var(--m-c));
                        border: none;
                        background: none;
                        text-decoration: none;
                        cursor: pointer;
                        font-weight: 500 !important;
                    }
                }
            }
        }
    }
    .password_page_is_closing {
        animation: left_to_right 200ms;
    }
}

@keyframes right_to_left {
    0% {
        right: -50%;
    }
    100% {
        right: 0;
    }
}
@keyframes left_to_right {
    0% {
        right: 0;
    }
    100% {
        right: -50%;
    }
}
