@import "../../../assets/mixins/mixins.scss";

.reset_pass_wrapper {
    @include size(100vw, 100vh);
    transition-delay: 200ms;
    position: relative;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    .reset_pass_wrapper_main {
        @include size(50%, 100%);
        @include flexCenter();
        background-color: #fff;
        position: absolute;
        top: 0;
        right: -50%;
        animation: right_to_left 200ms;
        animation-fill-mode: forwards;
        .reset_pass_content_wrapper {
            @include flColCenter();
            .reset_pass_header {
                @include font(28px, normal, "Inter-400", #292929);
                font-weight: 400;
                margin-bottom: 22px;
            }
            .reset_pass_text {
                @include font(16px, normal, "Inter-400", #808080);
                font-weight: 400;
                width: 305px;
                margin-bottom: 40px;
            }
            .reset_pass_input {
                @include size(320px, 20px);
                @include font(14px, normal, "Inter-400", #808080);
                border: none;
                outline: none;
                border-bottom: 2px solid #808080;
                background: transparent;
                text-align: center;
                margin-bottom: 40px;
                padding: 15px;
            }
            .reset_pass_send_btn {
                @include size(350px, 45px);
                @include flexCenter();
                @include font(16px, normal, "Inter-400", #fff);
                border-radius: 10px;
                background: var(--m-c);
                border: none;
                cursor: pointer;
                margin-bottom: 29px;
                &:disabled {
                    background: #808080;
                }
            }
            .reset_pass_back_signIn_btn {
                @include flexCenterStart();
                @include font(14px, normal, "Inter-400", #808080);
                gap: 5px;
                font-weight: 400;
                cursor: pointer;
                & > svg {
                    width: 10px;
                    height: 10px;
                    margin-top: 3px;
                }
            }
        }
    }
    .reset_pass_is_closing {
        animation: left_to_right 200ms;
    }
}

@keyframes right_to_left {
    0% {
        right: -50%;
    }
    100% {
        right: 0;
    }
}
@keyframes left_to_right {
    0% {
        right: 0;
    }
    100% {
        right: -50%;
    }
}
