@import "../../../../assets/mixins/mixins.scss";

.settings_notifications_wrapper {
    @include flColStart();
    width: calc(100%);
    gap: 28px;
    padding-left: 36px;

    .notifications_item {
        @include flexStartStart();
        width: calc(100% - 16px);
        height: 60px;
        max-width: 1200px;
        gap: 24px;
        border-bottom: 1px solid #e8ebed;
        text-decoration: none;
        &:last-child {
            border-bottom: none;
        }
        .notifications_item_text_arrow_place {
            @include flexCenterBetween();
            width: 100%;
            .notifications_item_text {
                @include flColStart();
                gap: 7px;
                & > h2 {
                    @include font(16px, normal, "Inter-400", #292929);
                    font-weight: 400;
                }
                & > p {
                    @include font(10px, normal, "Inter-400", #808080);
                }
            }
            & > svg {
                @include size(14px, 14px);
                color: #808080;
            }
        }
    }
}
