@import "../../../../../assets/mixins/mixins.scss";

.change_sidebar_wrapper {
    @include flColStart();
    width: 100%;
    align-self: flex-start;
    padding: 13px 0px 20px 20px;
    gap: 95px;
    .sidebar_element_text_wrapper {
        @include flColStart();
        gap: 32px;
        width: 86.08%;
        max-width: 1200px;
        border-radius: 16px;
        box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.3);
        padding: 20px 24px 4px 24px;
        .sidebar_text_place {
            @include flColStart();
            gap: 12px;
            width: 100%;
            & > h2 {
                @include font(14px, normal, "Inter-400", #292929);
                font-weight: 400;
            }
            & > p {
                @include font(10px, normal, "Inter-400", #808080);
                font-weight: 400;
            }
        }
        .sidebar_elements_place {
            @include flColStart();
            width: 100%;
            .sidebar_element {
                @include flexStartStart();
                width: 100%;
                height: 34px;
                border-bottom: 1px solid #e8ebed;
                margin-bottom: 16px;
                &:last-child {
                    border-bottom: none;
                }

                .sidebar_element_text_switch {
                    @include flexCenterBetween();
                    width: 100%;
                    .sidebar_element_text_logo {
                        @include flexCenterStart();
                        gap: 24px;
                        & > svg {
                            transform: scale(0.8) !important;
                        }
                        & > p {
                            @include font(12px, normal, "Inter-400", #808080);
                            font-weight: 400;
                            &::selection {
                                background: rgba(0, 0, 0, 0);
                            }
                        }
                    }
                    .sidebar_element_switch_locker {
                        @include flexCenterStart();
                        width: 60px;
                        gap: 16px;
                        & > svg {
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}
